@import "_reset.scss";
@import "_fonts.scss";
@import "_vars.scss";

html{
    font-size: 10px;
}
body{
    font-family: "Montserat";
    font-size: 1.6rem;
    font-weight: 400;
    color: #686767;
    font-weight: 500;
}

.container{
    max-width: 130rem;
    padding: 0 1.5rem;
    margin: 0 auto;
}
